<h1>
  <%= @space.name %> Space
</h1>
<hr />
<div class='row'>
  <div class='col-lg-12'>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Articles</h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= @space.pages.count %> Pages</h6>
        <p class="card-text"></p>
        <a href="#" class="card-link">Create New Article</a>
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </div>
</div>